@each $skinVariantSelector, $imagesPath in $skinVariantPaths {
  html[data-skin-variant="#{$skinVariantSelector}"] {
    $base: "#{$imagesPath}/backgrounds/";

    .background-image {
      background-size: cover;
      background-repeat: no-repeat;
      // background-image: url('/graphic-packs/default-graphic-pack/backgrounds/main-9-16.png');

      @media (min-width: 1024px) {
        // background-image: url('/graphic-packs/default-graphic-pack/backgrounds/main-16-9.png');
      }

      &--village {
      }
    }
  }
}
