$skinVariantPaths: (
  '.skin-variant-default': '/graphic-packs/default-graphic-pack',
);

$timeOfDayLightSelector: '.time-of-day-day';
$timeOfDayNightSelector: '.time-of-day-night';

$resourceCompositions: '4446', '5436', '5346', '4536', '3546', '4356', '3456', '4437', '4347', '3447', '3339', '11115', '00018';

$resources: 'wood', 'clay', 'iron', 'wheat';

$tribes: 'romans', 'gauls', 'teutons', 'huns', 'egyptians', 'nature', 'natars', 'spartans';

$villageSizes: 'xs', 'sm', 'md', 'lg';

$buildings: "bakery",
"brickyard",
"grain-mill",
"granary",
"iron-foundry",
"sawmill",
"warehouse",
"waterworks",
"academy",
"barracks",
"city-wall",
"earth-wall",
"great-barracks",
"great-stable",
"heros-mansion",
"hospital",
"makeshift-wall",
"palisade",
"rally-point",
"stable",
"stone-wall",
"trapper",
"workshop",
"brewery",
"command-center",
"cranny",
"horse-drinking-trough",
"main-building",
"marketplace",
"palace",
"residence",
"tournament-square",
"treasury";
