@tailwind base;
@tailwind components;
@tailwind utilities;

//@import "tailwindcss";

//@theme {
//  // Breakpoints
//  --breakpoint-xs: 425px;
//  --breakpoint-sm: 640px;
//  --breakpoint-md: 768px;
//  --breakpoint-lg: 1024px;
//  --breakpoint-xl: 1280px;
//  --breakpoint-2xl: 1920px;
//
//  // Colors
//  --color-reputation-player: '#4338ca';
//  --color-reputation-ecstatic: '#1d4ed8';
//  --color-reputation-respected: '#0891b2';
//  --color-reputation-friendly: '#22c55e';
//  --color-reputation-neutral: '#facc15';
//  --color-reputation-unfriendly: '#f97316';
//  --color-reputation-hostile: '#e11d48';
//
//  --duration-default: 300ms;
//
//  --backdrop-blur-xs: 1px;
//}

@layer base {
  .text-xxs {
    font-size: 0.65rem;
    line-height: 1rem;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar::-webkit-scrollbar {
  @apply w-[6px] bg-gray-300 duration-300 rounded-md;
  .dark & {
    @apply bg-gray-400;
  }
}

.absolute-centering {
  @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

.toggle-label::before {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  display: block;
  content: '';
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999%;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23a0aec0" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
  transition: transform 0.15s cubic-bezier(0, 0, 0.2, 1);
  transform: translateX(0);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.toggle-checkbox:checked + .toggle-label:before {
  transform: translateX(1.5rem);
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23a0aec0" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>');
}

.accordion {
  &[open] {
    & summary {
      @apply border-b;
      & > svg {
        @apply rotate-180;
      }
    }
  }
}
