$horse-metal: #b8b8b8;
$horse-eye-pupil: #ffffff;
$horse-eye: #1d1714;

@mixin horseIconColorSet(
  $base,
  $base-bottom,
  $ears-back,
  $ears-front,
  $eye-lid-bottom,
  $eye-lid-middle,
  $eye-lid-top,
  $eye-lid-top-detail,
  $head-front,
  $mane-back,
  $mane-front,
  $mouth-line,
  $nose,
  $nose-detail,
  $harness-rope,
) {
  $horse-part-colors: (
    "base": $base,
    "base-bottom": $base-bottom,
    "ears-back": $ears-back,
    "ears-front": $ears-front,
    "eye": $horse-eye,
    "eye-lid-bottom": $eye-lid-bottom,
    "eye-lid-middle": $eye-lid-middle,
    "eye-lid-top": $eye-lid-top,
    "eye-lid-top-detail": $eye-lid-top-detail,
    "eye-pupil": $horse-eye-pupil,
    "head-front": $head-front,
    "mane-back": $mane-back,
    "mane-front": $mane-front,
    "mouth-line": $mouth-line,
    "nose": $nose,
    "nose-detail": $nose-detail,
  );

  @each $part, $color in $horse-part-colors {
    & :global(#PillageFirstHorse-#{$part}) {
      fill: $color !important;
    }
  }

  & :global(#PillageFirstHorse-harness-body-straps),
  & :global(#PillageFirstHorse-harness-brow-strap_1_),
  & :global(#PillageFirstHorse-harness-face-strap_1_),
  & :global(#PillageFirstHorse-harness-nose-buckle),
  & :global(.PillageFirstHorse-st8),
  & :global(.PillageFirstHorse-st9) {
    fill: $harness-rope !important;
  }

  & :global(#PillageFirstHorse-harness-nose-ring),
  & :global(#PillageFirstHorse-harness-nose-ring_1_) {
    fill: none !important;
    stroke: $horse-metal !important;
    stroke-width: 8 !important;
  }

  & :global(#PillageFirstHorse-harness-brow-ring-top-detail),
  & :global(#PillageFirstHorse-harness-brow-ring-bottom-detail) {
    fill: $horse-metal !important;
  }
}
