{
  "root": true,
  "plugins": ["import", "react-hooks", "eslint-plugin-import", "@typescript-eslint"],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:tailwindcss/recommended",
    "prettier"
  ],
  "ignorePatterns": ["*.js", "*.json", "node_modules/"],
  "rules": {
    "no-continue": "off",
    "no-trailing-spaces": "off",
    "consistent-return": "warn",
    "no-unused-vars": "error",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "ExportDefaultDeclaration",
        "message": "Prefer named exports"
      }
    ],
    "object-curly-newline": "off",
    "linebreak-style": "off",
    "eol-last": "off",
    "func-style": ["error", "expression"],
    "max-classes-per-file": "off",
    "class-methods-use-this": "off",
    "arrow-body-style": "off",
    "comma-dangle": ["error", "only-multiline"],
    "max-len": [
      "error",
      {
        "code": 140,
        "tabWidth": 2,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "never",
      {
        "css": "always",
        "scss": "always",
        "json": "always",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/jsx-no-useless-fragment": "warn",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-max-props-per-line": [
      "error",
      {
        "maximum": 1
      }
    ],
    "react/jsx-no-constructed-context-values": "warn",
    "react/require-default-props": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-unstable-nested-components": [
      "error",
      {
        "allowAsProps": true
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "react/function-component-definition": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/lines-between-class-members": "off",
    "tailwindcss/no-custom-classname": "off"
  },
  "overrides": [
    {
      "files": ["*.config.ts"],
      "rules": {
        "no-restricted-syntax": "off"
      }
    }
  ]
}
