{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "import",
    "react-hooks",
    "eslint-plugin-import",
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "rules": {
    "consistent-return": [
      "warn"
    ],
    "@typescript-eslint/no-unused-vars": [
      "error"
    ],
    "@typescript-eslint/no-non-null-assertion": [
      "off"
    ],
    "no-continue": "off",
    "no-trailing-spaces": "off",
    "react/require-default-props": "off",
    "react/prop-types": "off",
    "max-len": [
      "error",
      {
        "code": 140,
        "tabWidth": 2,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "object-curly-newline": "off",
    "linebreak-style": "off",
    "eol-last": "off",
    "comma-dangle": [
      "error",
      "never"
    ],
    "@typescript-eslint/comma-dangle": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    "react/function-component-definition": [
      "off"
    ],
    "func-style": [
      "error",
      "expression"
    ],
    "arrow-body-style": [
      "off"
    ],
    "import/extensions": [
      "error",
      "never",
      {
        "css": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "@typescript-eslint/no-inferrable-types": "off"
  }
}
