[build]
command = "npm run inject-graphics && turbo run build"
publish = "apps/web/build/client"
image = "ubuntu-24.04"

# build envs
[build.environment]
NODE_VERSION = "24.12.0"

# master
[context.master.environment]
BRANCH_ENV = "master"

# branch-deploy
[context.branch-deploy]
command = "npm run inject-graphics && turbo run build:dev"

[context.branch-deploy.environment]
BRANCH_ENV = "develop"

# deploy-preview
[context.deploy-preview]
command = "npm run inject-graphics && turbo run build:dev"

[context.deploy-preview.environment]
BRANCH_ENV = "develop"
