@use "sass:list";

// Map of id => (top left)
$building-positions: (
  1: (20% 31%),
  2: (10% 47%),
  3: (17% 65%),
  4: (35% 20%),
  5: (30% 43%),
  6: (27% 55%),
  7: (24% 77%),
  8: (54% 14%),
  9: (51% 26%),
  10: (39% 69%),
  11: (39% 86%),
  12: (72% 19%),
  13: (67% 32%),
  14: (71% 48%),
  15: (59% 76%),
  16: (84% 36%),
  17: (90% 50%),
  18: (76% 62%),
  19: (33% 28%),
  20: (24% 38%),
  21: (18% 49%),
  22: (19% 60%),
  23: (22% 70%),
  24: (35% 78%),
  25: (47% 81%),
  26: (61% 82%),
  27: (73% 78%),
  28: (84% 68%),
  29: (75% 59%),
  30: (90% 53%),
  31: (86% 37%),
  32: (73% 24%),
  33: (59% 19%),
  34: (44% 21%),
  35: (65% 48%),
  36: (53% 38%),
  37: (42% 44%),
  38: (37% 55%),
  39: (51% 66%),
  40: (87% 85%)
);

.building-field {
  @each $id, $coords in $building-positions {
    &--#{$id} {
      top: list.nth($coords, 1);
      left: list.nth($coords, 2);
    }
  }
}
