@mixin oasisBackgroundImage($base, $resourceBase, $group, $position) {
  &-position-#{$position} {
    background-image: url('#{$resourceBase}/#{$group}/#{$position}.avif');
  }
}

.tile {
  background-repeat: no-repeat;
  border-radius: 1px;
  border: 1px solid rgba(107, 114, 128, 0.5); /* border-gray-500/50 */
  background-size: contain;
}

// Occupied occupiable tiles
.occupied-tile {
  --reputation-color: white;

  // Faction reputation
  &::after {
    content: '';
    border: 3px dashed var(--reputation-color);
    border-radius: 1px;
    inset: 0;
    position: absolute;
  }

  @each $reputationLevel, $color in $factionReputationColors {
    &-reputation-#{$reputationLevel} {
      --reputation-color: #{$color};
    }
  }

  &-reputation-disabled {
    --reputation-color: transparent;
  }

  //@each $skinVariantSelector, $imagesPath in $skinVariantPaths {
  //  html[data-skin-variant="#{$skinVariantSelector}"] {
  //    // Villages
  //    $base: '/#{$imagesPath}/map/occupied-tiles';
  //    @each $tribe in $tribes {
  //      $tribeBase: '/#{$base}/#{$tribe}';
  //
  //      &-#{$tribe} {
  //        @each $villageSize in $villageSizes {
  //          &-#{$villageSize} {
  //            background-image: url('#{$tribeBase}/#{$villageSize}.png');
  //          }
  //        }
  //      }
  //    }
  //  }
  //}
}

// Unoccupied occupiable tiles
@each $skinVariantSelector, $imagesPath in $skinVariantPaths {
  html[data-skin-variant="#{$skinVariantSelector}"] {
    $base: '#{$imagesPath}/map/unoccupied-tiles';

    .unoccupied-tile {
      @each $resourceComposition in $resourceCompositions {
        &-#{$resourceComposition} {
          background-image: url('#{$base}/#{$resourceComposition}.avif');
        }
      }
    }
  }
}

// Oasis tiles
@each $skinVariantSelector, $imagesPath in $skinVariantPaths {
  html[data-skin-variant="#{$skinVariantSelector}"] {
    $base: '#{$imagesPath}/map/oasis';

    .oasis-tile {
      @each $resource in $resources {
        &-#{$resource} {
          $resourceBase: "#{$base}/#{$resource}";

          &-group-0 {
            @include oasisBackgroundImage($base, $resourceBase, '0', '0-0');
          }

          &-group-1 {
            @include oasisBackgroundImage($base, $resourceBase, '1', '0-0');
            @include oasisBackgroundImage($base, $resourceBase, '1', '0-1');
          }

          &-group-2 {
            @include oasisBackgroundImage($base, $resourceBase, '2', '0-0');
            @include oasisBackgroundImage($base, $resourceBase, '2', '0-1');
            @include oasisBackgroundImage($base, $resourceBase, '2', '1-0');
            @include oasisBackgroundImage($base, $resourceBase, '2', '1-1');
          }

          &-group-3 {
            @include oasisBackgroundImage($base, $resourceBase, '3', '0-0');
            @include oasisBackgroundImage($base, $resourceBase, '3', '1-0');
            @include oasisBackgroundImage($base, $resourceBase, '3', '2-0');
          }

          &-group-4 {
            @include oasisBackgroundImage($base, $resourceBase, '4', '0-0');
            @include oasisBackgroundImage($base, $resourceBase, '4', '0-1');
            @include oasisBackgroundImage($base, $resourceBase, '4', '0-2');
          }
        }
      }
    }
  }
}

.tile-icon {
  --top: 0;
  --right: 0;
  --scale: 1;

  position: absolute;
  user-select: none;
  z-index: 20;
  top: var(--top);
  right: var(--right);
  transform: scale(var(--scale));

  &-magnification {
    &-3 {
      --top: -0.25rem;
      --right: -0.25rem;
      --scale: 0.75;
    }

    &-5 {
      --top: 0.25rem;
      --right: 0.25rem;
      --scale: 1.25;
    }
  }
}
