.tile {
  background-repeat: no-repeat;
  border-radius: 1px;
  border: 1px solid rgba(107, 114, 128, 0.5); /* border-gray-500/50 */
  background-size: contain;
}

// Occupied occupiable tiles
.occupied-tile {
  --reputation-color: transparent;

  // Faction reputation
  &::after {
    content: '';
    border: 3px dashed var(--reputation-color);
    border-radius: 1px;
    inset: 0;
    position: absolute;
  }

  &-magnification {
    &-2 {
      &::after {
        border: 2px dashed var(--reputation-color);
      }
    }
  }

  @each $reputationLevel, $color in $factionReputationColors {
    &-reputation-#{$reputationLevel} {
      --reputation-color: #{$color};
    }
  }
}

.tile-icon {
  --top: 0;
  --right: 0;
  --scale: 1;

  position: absolute;
  user-select: none;
  z-index: 20;
  top: var(--top);
  right: var(--right);
  transform: scale(var(--scale));

  &-magnification {
    &-2 {
      --top: -0.40rem;
      --right: -0.40rem;
      --scale: 0.50;
    }

    &-3 {
      --top: -0.20rem;
      --right: -0.20rem;
      --scale: 0.75;
    }

    &-5 {
      --top: 0.25rem;
      --right: 0.25rem;
      --scale: 1.25;
    }
  }
}

.troop-movements {
  --top: 0;
  --left: 0;
  --scale: 1;

  position: absolute;
  user-select: none;
  z-index: 20;
  top: var(--top);
  left: var(--left);
  transform: scale(var(--scale));

  &-magnification {
    &-3 {
      --top: -0.25rem;
      --left: -0.25rem;
      --scale: 0.75;
    }

    &-5 {
      --top: 0.25rem;
      --left: 0.25rem;
      --scale: 1.25;
    }
  }
}
