@mixin resourceBuildingBackground($resourceBase, $buildingFieldId, $resource, $resourceComposition: '') {
  &-#{$buildingFieldId} {
    // TODO: Delete bg-color when graphics are added
    $bg: #426002;
    @if $resource == 'clay' {
      $bg: #C29760;
    }
    @if $resource == 'iron' {
      $bg: #7B90A1;
    }
    @if $resource == 'wheat' {
      $bg: #FFF600;
    }
    background-color: $bg;

    //$base: $resourceBase;

    //@if $resourceComposition != '' {
    //  $base: '/#{$resourceBase}/#{$resourceComposition}';
    //}
    //
    //@include imageSet('#{$base}/#{$buildingFieldId}');
  }
}

@each $skinVariantSelector, $imagesPath in $skinVariantPaths {
  :global(#{$skinVariantSelector}) .building {
    $base: '#{$imagesPath}/buildings';

    // Resources
    &-resource {
      $resourceBase: '#{$base}/resources';

      // Defaults (4446).
      // There's a couple of resource fields that never change, namely: 2, 8, 9, 12, 13, 15
      // There's a couple of fields that never change, except on 00018: 3, 4, 16
      // There's a couple fields that never change, except on 00018 & 11115: 6, 7, 11, 14, 17, 18
      @include resourceBuildingBackground($resourceBase, 1, 'wood');
      @include resourceBuildingBackground($resourceBase, 2, 'wheat');
      @include resourceBuildingBackground($resourceBase, 3, 'wood');
      @include resourceBuildingBackground($resourceBase, 4, 'iron');
      @include resourceBuildingBackground($resourceBase, 5, 'clay');
      @include resourceBuildingBackground($resourceBase, 6, 'clay');
      @include resourceBuildingBackground($resourceBase, 7, 'iron');
      @include resourceBuildingBackground($resourceBase, 8, 'wheat');
      @include resourceBuildingBackground($resourceBase, 9, 'wheat');
      @include resourceBuildingBackground($resourceBase, 10, 'iron');
      @include resourceBuildingBackground($resourceBase, 11, 'iron');
      @include resourceBuildingBackground($resourceBase, 12, 'wheat');
      @include resourceBuildingBackground($resourceBase, 13, 'wheat');
      @include resourceBuildingBackground($resourceBase, 14, 'wood');
      @include resourceBuildingBackground($resourceBase, 15, 'wheat');
      @include resourceBuildingBackground($resourceBase, 16, 'clay');
      @include resourceBuildingBackground($resourceBase, 17, 'wood');
      @include resourceBuildingBackground($resourceBase, 18, 'clay');

      &-5436 {
        @include resourceBuildingBackground($resourceBase, 1, 'wood');
        @include resourceBuildingBackground($resourceBase, 5, 'clay');
        @include resourceBuildingBackground($resourceBase, 10, 'wood');
      }

      &-5346 {
        @include resourceBuildingBackground($resourceBase, 1, 'wood');
        @include resourceBuildingBackground($resourceBase, 5, 'wood');
        @include resourceBuildingBackground($resourceBase, 10, 'iron');
      }

      &-4536 {
        @include resourceBuildingBackground($resourceBase, 1, 'wood');
        @include resourceBuildingBackground($resourceBase, 5, 'clay');
        @include resourceBuildingBackground($resourceBase, 10, 'clay');
      }

      &-3546 {
        @include resourceBuildingBackground($resourceBase, 1, 'clay');
        @include resourceBuildingBackground($resourceBase, 5, 'clay');
        @include resourceBuildingBackground($resourceBase, 10, 'iron');
      }

      &-4356 {
        @include resourceBuildingBackground($resourceBase, 1, 'wood');
        @include resourceBuildingBackground($resourceBase, 5, 'iron');
        @include resourceBuildingBackground($resourceBase, 10, 'iron');
      }

      &-3456 {
        @include resourceBuildingBackground($resourceBase, 1, 'iron');
        @include resourceBuildingBackground($resourceBase, 5, 'clay');
        @include resourceBuildingBackground($resourceBase, 10, 'iron');
      }

      &-4437 {
        @include resourceBuildingBackground($resourceBase, 1, 'wood');
        @include resourceBuildingBackground($resourceBase, 5, 'clay');
        @include resourceBuildingBackground($resourceBase, 10, 'wheat');
      }

      &-4347 {
        @include resourceBuildingBackground($resourceBase, 1, 'wood');
        @include resourceBuildingBackground($resourceBase, 5, 'wheat');
        @include resourceBuildingBackground($resourceBase, 10, 'iron');
      }

      &-3447 {
        @include resourceBuildingBackground($resourceBase, 1, 'wheat');
        @include resourceBuildingBackground($resourceBase, 5, 'clay');
        @include resourceBuildingBackground($resourceBase, 10, 'iron');
      }

      &-3339 {
        @include resourceBuildingBackground($resourceBase, 1, 'wheat');
        @include resourceBuildingBackground($resourceBase, 5, 'wheat');
        @include resourceBuildingBackground($resourceBase, 10, 'wheat');
      }

      &-11115 {
        @include resourceBuildingBackground($resourceBase, 1, 'wheat');
        @include resourceBuildingBackground($resourceBase, 5, 'wheat');
        @include resourceBuildingBackground($resourceBase, 6, 'wheat');
        @include resourceBuildingBackground($resourceBase, 7, 'wheat');
        @include resourceBuildingBackground($resourceBase, 10, 'wheat');
        @include resourceBuildingBackground($resourceBase, 11, 'wheat');
        @include resourceBuildingBackground($resourceBase, 14, 'wheat');
        @include resourceBuildingBackground($resourceBase, 17, 'wheat');
        @include resourceBuildingBackground($resourceBase, 18, 'wheat');
      }

      &-00018 {
        @include resourceBuildingBackground($resourceBase, 1, 'wheat');
        @include resourceBuildingBackground($resourceBase, 3, 'wheat');
        @include resourceBuildingBackground($resourceBase, 4, 'wheat');
        @include resourceBuildingBackground($resourceBase, 5, 'wheat');
        @include resourceBuildingBackground($resourceBase, 6, 'wheat');
        @include resourceBuildingBackground($resourceBase, 7, 'wheat');
        @include resourceBuildingBackground($resourceBase, 10, 'wheat');
        @include resourceBuildingBackground($resourceBase, 11, 'wheat');
        @include resourceBuildingBackground($resourceBase, 14, 'wheat');
        @include resourceBuildingBackground($resourceBase, 16, 'wheat');
        @include resourceBuildingBackground($resourceBase, 17, 'wheat');
        @include resourceBuildingBackground($resourceBase, 18, 'wheat');
      }
    }

    //&-village {
    //  $villageBase: '#{$base}/village';
    //
    //  // TODO: Warehouse and granary need to have 'full' variant
    //  @each $building in $buildings {
    //    $buildingBase: '#{$villageBase}/#{$building}';
    //
    //    &-#{$building} {
    //      background-image: url('#{$buildingBase}/#{$building}-tier-1.jpg');
    //
    //      &-tier-2 {
    //        background-image: url('#{$buildingBase}/#{$building}-tier-2.jpg');
    //      }
    //
    //      &-tier-3 {
    //        background-image: url('#{$buildingBase}/#{$building}-tier-3.jpg');
    //      }
    //    }
    //  }
    //}
  }
}
