@mixin oasisBackgroundImage($base, $resourceBase, $group, $position) {
  &-position-#{$position} {
    // TODO: Remove bg color once all oasis graphics are added
    background-color: transparent;
    background-image: url($resourceBase + '/#{$group}/#{$position}.png'), url($base + '/oasis-base.png');
  }
}

@each $themeSelector, $imagesPath in $themeImagesPaths {
  // Occupied occupiable tiles
  :global(#{$themeSelector}) .occupied-tile {
    $base: $imagesPath + '/map/occupied-tiles';
    @each $tribe in $tribes {
      $tribeBase: $base + '/#{$tribe}';

      &-#{$tribe} {
        @each $villageSize in $villageSizes {
          &-#{$villageSize} {
            background-image: url($tribeBase + '/#{$villageSize}.png'), url($base + '/occupied-tile-base.png');
          }
        }
      }
    }
  }


  // Unoccupied occupiable tiles
  :global(#{$themeSelector}) .unoccupied-tile {
    $base: $imagesPath + '/map/unoccupied-tiles';

    @each $resourceComposition in $resourceCompositions {
      &-#{$resourceComposition} {
        background-image: url($base + '/#{$resourceComposition}.png'), url($base + '/unoccupied-tile-base.png');
      }
    }
  }

  // Oasis tiles
  :global(#{$themeSelector}) .oasis {
    $base: $imagesPath + '/map/oasis';

    @each $resource in $resources {
      &-#{$resource} {
        $resourceBase: $base + "/#{$resource}";

        // TODO: Delete this bg stuff once you have graphics ready
        $bg: #426002;

        @if $resource == 'clay' {
          $bg: #C29760;
        }
        @if $resource == 'iron' {
          $bg: #7B90A1;
        }
        @if $resource == 'wheat' {
          $bg: #FFF600;
        }

        background-color: $bg;

        &-group-0 {
          @if $resource == 'wood' {
            @include oasisBackgroundImage($base, $resourceBase, '0', '0-0');
          }
          @if $resource == 'iron' {
            @include oasisBackgroundImage($base, $resourceBase, '0', '0-0');
          }
        }

        &-group-1 {
          @if $resource == 'wood' {
            @include oasisBackgroundImage($base, $resourceBase, '1', '0-0');
            @include oasisBackgroundImage($base, $resourceBase, '1', '0-1');
          }
          @if $resource == 'wheat' {
            @include oasisBackgroundImage($base, $resourceBase, '1', '0-0');
            @include oasisBackgroundImage($base, $resourceBase, '1', '0-1');
          }

        }

        &-group-2 {
          &-position-0-0 {
            background-image: url($resourceBase + '/2/0-0.png');
          }

          &-position-0-1 {
            background-image: url($resourceBase + '/2/0-1.png');
          }

          &-position-1-0 {
            background-image: url($resourceBase + '/2/1-0.png');
          }

          &-position-1-1 {
            background-image: url($resourceBase + '/2/1-1.png');
          }
        }

        &-group-3 {
          @if $resource == 'wood' {
            @include oasisBackgroundImage($base, $resourceBase, '3', '0-0');
            @include oasisBackgroundImage($base, $resourceBase, '3', '1-0');
            @include oasisBackgroundImage($base, $resourceBase, '3', '2-0');
          }
        }

        &-group-4 {
          @if $resource == 'wood' {
            @include oasisBackgroundImage($base, $resourceBase, '4', '0-0');
            @include oasisBackgroundImage($base, $resourceBase, '4', '0-1');
            @include oasisBackgroundImage($base, $resourceBase, '4', '0-2');
          }
        }
      }
    }
  }
}
