// Idea is to remove background-color from all oasis classes eventually, but until we have all vectors, they will get removed by group
.oasis {
  $oasisBase: '/vectors/map/oasis';
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;

  &-wood {
    background-color: #426002;
    $woodBase: $oasisBase + '/wood';
  }

  &-clay {
    background-color: #C29760;
    $clayBase: $oasisBase + '/clay';
  }

  &-iron {
    background-color: #7B90A1;
    $ironBase: $oasisBase + '/iron';
  }

  &-wheat {
    background-color: #FFF600;
    $wheatBase: $oasisBase + '/wheat';
    &-group-0 {
      background-color: transparent;
      background-size: 90% 90%;
      &-position-0-0 {
        background-image: url($wheatBase + '/0/0-0.svg');
      }
    }

    &-group-1 {
      background-color: transparent;
      background-size: 90% 90%;
      &-position-0-0 {
        background-position: bottom right;
        background-image: url($wheatBase + '/1/0-0.svg');
      }
      &-position-0-1 {
        background-position: bottom left;
        background-image: url($wheatBase + '/1/0-1.svg');
      }
      &-position-1-0 {
        background-position: top right;
        background-image: url($wheatBase + '/1/1-0.svg');
      }
      &-position-1-1 {
        background-position: top left;
        background-image: url($wheatBase + '/1/1-1.svg');
      }
    }

    &-group-2 {
      background-color: transparent;
      background-size: 90% 90%;
      &-position-0-0 {
        background-position: center right;
        background-image: url($wheatBase + '/2/0-0.svg');
      }
      &-position-0-1 {
        background-position: center left;
        background-image: url($wheatBase + '/2/0-1.svg');
      }
    }

    &-group-3 {
      background-color: transparent;
      &-position-0-0 {
        background-position: bottom right;
        background-image: url($wheatBase + '/3/0-0.svg');
      }
      &-position-0-1 {
        background-position: bottom center;
        background-image: url($wheatBase + '/3/0-1.svg');
      }
      &-position-0-2 {
        background-position: top left;
        background-image: url($wheatBase + '/3/0-2.svg');
      }
      &-position-1-0 {
        background-position: top right;
        background-image: url($wheatBase + '/3/1-0.svg');
      }
      &-position-1-1 {
        background-position: top center;
        background-image: url($wheatBase + '/3/1-1.svg');
      }
      &-position-1-2 {
        background-position: top center;
        background-image: url($wheatBase + '/3/1-2.svg');
      }
      &-position-2-0 {
        background-position: top center;
        background-image: url($wheatBase + '/3/2-0.svg');
      }
      &-position-2-1 {
        background-position: top center;
        background-image: url($wheatBase + '/3/2-1.svg');
      }
    }

    &-group-4 {
      background-color: transparent;
      &-position-0-0 {
        background-position: bottom right;
        background-image: url($wheatBase + '/4/0-0.svg');
      }
      &-position-1-0 {
        background-position: bottom center;
        background-image: url($wheatBase + '/4/1-0.svg');
      }
      &-position-1-1 {
        background-position: top left;
        background-image: url($wheatBase + '/4/1-1.svg');
      }
      &-position-1-2 {
        background-position: top right;
        background-image: url($wheatBase + '/4/1-2.svg');
      }
      &-position-2-0 {
        background-position: top center;
        background-image: url($wheatBase + '/4/2-0.svg');
      }
      &-position-2-1 {
        background-position: top center;
        background-image: url($wheatBase + '/4/2-1.svg');
      }
      &-position-2-2 {
        background-position: top center;
        background-image: url($wheatBase + '/4/2-2.svg');
      }
    }

    &-group-5 {
      background-color: transparent;
      &-position-0-0 {
        background-position: bottom right;
        background-image: url($wheatBase + '/5/0-0.svg');
      }
      &-position-0-1 {
        background-position: bottom center;
        background-image: url($wheatBase + '/5/0-1.svg');
      }
      &-position-0-2 {
        background-position: top left;
        background-image: url($wheatBase + '/5/0-2.svg');
      }
      &-position-1-0 {
        background-position: top right;
        background-image: url($wheatBase + '/5/1-0.svg');
      }
      &-position-1-1 {
        background-position: top center;
        background-image: url($wheatBase + '/5/1-1.svg');
      }
      &-position-1-2 {
        background-position: top left;
        background-image: url($wheatBase + '/5/1-2.svg');
      }
    }
  }
}
