@mixin oasisBackgroundImage($base, $resourceBase, $group, $position) {
  &-position-#{$position} {
    background-image: url($resourceBase + '/#{$group}/#{$position}.png'), url($base + '/oasis-base.png');
  }
}

@each $themeSelector, $imagesPath in $themeImagesPaths {
  :global(#{$themeSelector}) .free-tile {
    $base: $imagesPath + '/map/free-tiles';
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;

    @each $resourceComposition in $resourceCompositions {
      &-#{$resourceComposition} {
        background-image: url($base + '/0000.png');
      }
    }
  }

  :global(#{$themeSelector}) .oasis {
    $base: $imagesPath + '/map/oasis';
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;

    @each $resource in $resources {
      &-#{$resource} {
        $resourceBase: $base + "/#{$resource}";

        // TODO: Delete this bg stuff once you have graphics ready
        $bg: #426002;

        @if $resource == 'clay' {
          $bg: #C29760;
        }
        @if $resource == 'iron' {
          $bg: #7B90A1;
        }
        @if $resource == 'wheat' {
          $bg: #FFF600;
        }

        background-color: $bg;

        &-group-0 {
          @if $resource == 'wood' {
            background-color: transparent;
          }
          @if $resource == 'iron' {
            background-color: transparent;
          }
          @include oasisBackgroundImage($base, $resourceBase, '0', '0-0');
        }

        &-group-1 {
          @if $resource == 'wood' {
            background-color: transparent;
          }
          @if $resource == 'wheat' {
            background-color: transparent;
          }
          @include oasisBackgroundImage($base, $resourceBase, '1', '0-0');
          @include oasisBackgroundImage($base, $resourceBase, '1', '0-1');
        }

        &-group-2 {
          &-position-0-0 {
            background-image: url($resourceBase + '/2/0-0.png');
          }

          &-position-0-1 {
            background-image: url($resourceBase + '/2/0-1.png');
          }

          &-position-1-0 {
            background-image: url($resourceBase + '/2/1-0.png');
          }

          &-position-1-1 {
            background-image: url($resourceBase + '/2/1-1.png');
          }
        }

        &-group-3 {
          &-position-0-0 {
            background-image: url($resourceBase + '/3/0-0.png');
          }

          &-position-1-0 {
            background-image: url($resourceBase + '/3/1-0.png');
          }

          &-position-2-0 {
            background-image: url($resourceBase + '/3/2-0.png');
          }
        }
      }
    }
  }
}
