$themeImagesPaths: (
  '.default-theme': '/images/default-graphic-pack',
);

$resourceCompositions: '4446','5436','5346','4536','3546','4356','3456','4437','4347','3447','3339','11115','00018';

$resources: 'wood', 'clay', 'iron', 'wheat';
