@reference "tailwindcss";

.divider {
  @apply absolute w-0.25 lg:w-0.5 left-1/2 bg-white -translate-x-1/2 h-2 lg:h-2.25;

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);

  &.top {
    @apply top-0;
    clip-path: inset(0 -4px 1px -4px);
  }

  &.bottom {
    @apply bottom-0;
    clip-path: inset(1px -4px 0px -4px);
  }
}

.hero-stats {
  --health-angle: 0deg;
  --experience-angle: 0deg;
  --divider-angle: 1deg;

  --stat-bar-bg-color: oklch(0.872 0.01 258.338);
  --experience-bar-color: rgb(59, 130, 246);
  --health-bar-color: rgb(28, 183, 58);

  background: conic-gradient(
    var(--stat-bar-bg-color) 0deg calc(180deg - var(--health-angle)),
    var(--health-bar-color) calc(180deg - var(--health-angle)) 180deg,
    var(--stat-bar-bg-color) 180deg calc(180deg + var(--divider-angle)),
    var(--experience-bar-color) calc(180deg + var(--divider-angle)) calc(360deg - var(--experience-angle)),
    var(--stat-bar-bg-color) calc(360deg - var(--experience-angle)) 360deg
  );
}
