.pathfinder {
  @include horseIconColorSet(#423A36, #2E2521, #40332D, #2E2521, black, black)
}

.theutates-thunder {
  @include horseIconColorSet(#423A36, #2E2521, #40332D, #2E2521, black, black)
}

.druidrider {
  @include horseIconColorSet(#423A36, #2E2521, #40332D, #2E2521, black, black)
}

.haeduan {
  @include horseIconColorSet(#423A36, #2E2521, #40332D, #2E2521, black, black)
}
