.equites-legati {
  @include horseIconColorSet(#423A36, #2E2521, #40332D, #2E2521, black, black)
}

.equites-imperatoris {
  @include horseIconColorSet(#423A36, #2E2521, #40332D, #2E2521, black, black)
}

.equites-caesaris {
  @include horseIconColorSet(#423A36, #2E2521, #40332D, #2E2521, black, black)
}
