@use "sass:list";

// Map of id => (top left)
$building-positions: (
  1: (19% 29%),
  2: (9% 45%),
  3: (16% 63%),
  4: (34% 19%),
  5: (32% 39%),
  6: (26% 54%),
  7: (24% 76%),
  8: (54% 13%),
  9: (50% 25%),
  10: (38% 67%),
  11: (40% 85%),
  12: (70% 17%),
  13: (67% 28%),
  14: (71% 46%),
  15: (59% 74%),
  16: (84% 33%),
  17: (89% 48%),
  18: (76% 62%),
  19: (33% 28%),
  20: (24% 38%),
  21: (18% 49%),
  22: (19% 60%),
  23: (22% 70%),
  24: (35% 78%),
  25: (47% 81%),
  26: (61% 82%),
  27: (73% 78%),
  28: (84% 68%),
  29: (75% 59%),
  30: (90% 53%),
  31: (86% 37%),
  32: (73% 24%),
  33: (59% 19%),
  34: (44% 21%),
  35: (65% 48%),
  36: (53% 38%),
  37: (42% 44%),
  38: (37% 55%),
  39: (51% 66%),
  40: (87% 85%)
);

.building-field {
  @each $id, $coords in $building-positions {
    &--#{$id} {
      top: list.nth($coords, 1);
      left: list.nth($coords, 2);
    }
  }
}

