.spotter {
  @include horseIconColorSet(#423A36, #2E2521, #40332D, #2E2521, black, black)
}

.steppe-rider {
  @include horseIconColorSet(#423A36, #2E2521, #40332D, #2E2521, black, black)
}

.marksman {
  @include horseIconColorSet(#423A36, #2E2521, #40332D, #2E2521, black, black)
}

.marauder {
  @include horseIconColorSet(#423A36, #2E2521, #40332D, #2E2521, black, black)
}
