@mixin oasisBackgroundImage($base, $resourceBase, $group, $position, $hasVariants: false) {
  &-position-#{$position} {
    @include imageSet('#{$resourceBase}/#{$group}/#{$position}');
    @if($hasVariants) {
      @for $variant from 0 through 3 {
        &-variant-#{$variant} {
          $variantPosition: '#{$position}-#{$variant}';

          @if($variant == 0) {
            $variantPosition: '#{$position}';
          }
          @include imageSet('#{$resourceBase}/#{$group}/#{$variantPosition}');
        }
      }
    }
  }
}

@each $themeSelector, $imagesPath in $themeImagesPaths {
  // Occupied occupiable tiles
  //:global(#{$themeSelector}) .occupied-tile {
  //  $base: '/#{$imagesPath}/map/occupied-tiles';
  //  @each $tribe in $tribes {
  //    $tribeBase: '/#{$base}/#{$tribe}';
  //
  //    &-#{$tribe} {
  //      @each $villageSize in $villageSizes {
  //        &-#{$villageSize} {
  //          background-image: url('#{$tribeBase}/#{$villageSize}.png');
  //        }
  //      }
  //    }
  //  }
  //}

  // Unoccupied occupiable tiles
  :global(#{$themeSelector}) .unoccupied-tile {
    $base: '#{$imagesPath}/map/unoccupied-tiles';

    @each $resourceComposition in $resourceCompositions {
      &-#{$resourceComposition} {
        @include imageSet('#{$base}/#{$resourceComposition}');
      }
    }
  }

  // Oasis tiles
  :global(#{$themeSelector}) .oasis {
    $base: '#{$imagesPath}/map/oasis';

    @each $resource in $resources {
      &-#{$resource} {
        $resourceBase: "#{$base}/#{$resource}";

        &-group-0 {
          @include oasisBackgroundImage($base, $resourceBase, '0', '0-0', true);
        }

        &-group-1 {
          @include oasisBackgroundImage($base, $resourceBase, '1', '0-0');
          @include oasisBackgroundImage($base, $resourceBase, '1', '0-1');
        }

        &-group-2 {
          @include oasisBackgroundImage($base, $resourceBase, '2', '0-0');
          @include oasisBackgroundImage($base, $resourceBase, '2', '0-1');
          @include oasisBackgroundImage($base, $resourceBase, '2', '1-0');
          @include oasisBackgroundImage($base, $resourceBase, '2', '1-1');
        }

        &-group-3 {
          @include oasisBackgroundImage($base, $resourceBase, '3', '0-0');
          @include oasisBackgroundImage($base, $resourceBase, '3', '1-0');
          @include oasisBackgroundImage($base, $resourceBase, '3', '2-0');
        }

        &-group-4 {
          @include oasisBackgroundImage($base, $resourceBase, '4', '0-0');
          @include oasisBackgroundImage($base, $resourceBase, '4', '0-1');
          @include oasisBackgroundImage($base, $resourceBase, '4', '0-2');
        }
      }
    }
  }
}
