name: ci

permissions:
  contents: read
  pull-requests: read

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - master
      - develop
  push:
    branches:
      - master
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  TURBO_CACHE_DIR: .turbo

jobs:
  type-check:
    name: Type check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup environment (node + install)
        uses: ./.github/actions/node-setup

      - name: Run type check
        run: npx turbo run type-check

  lint:
    name: Lint check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup environment (node + install)
        uses: ./.github/actions/node-setup

      - name: Run lint check
        run: npx turbo run lint:check

  format:
    name: Format check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup environment (node + install)
        uses: ./.github/actions/node-setup

      - name: Run format check
        run: npx turbo run format:check

  localize:
    name: Localization check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup environment (node + install)
        uses: ./.github/actions/node-setup

      - name: Run @pillage-first/web localization check
        run: npx --workspace="@pillage-first/web" i18next-cli extract --ci --dry-run

  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup environment (node + install)
        uses: ./.github/actions/node-setup

      - name: Run tests
        id: run-tests
        run: npx turbo run test
