name: ci

permissions:
  contents: read
  pull-requests: read

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - master
      - develop
  push:
    branches:
      - master
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  type-check:
    name: Type check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup environment (node + install)
        uses: ./.github/actions/node-setup

      - name: Run type check
        run: npm run type-check

  lint:
    name: Lint check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup environment (node + install)
        uses: ./.github/actions/node-setup

      - name: Run lint check
        run: npm run lint:check

  format:
    name: Format check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup environment (node + install)
        uses: ./.github/actions/node-setup

      - name: Run format check
        run: npm run format:check

  localize:
    name: Localization check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup environment (node + install)
        uses: ./.github/actions/node-setup

      - name: Run localization check
        run: npm run localize:ci

  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup environment (node + install)
        uses: ./.github/actions/node-setup

      - name: Run tests
        id: run-tests
        run: npm run test

#  knip:
#    name: Unused exports and dependencies check (knip)
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout repo
#        uses: actions/checkout@v5
#        with:
#          fetch-depth: 0
#
#      - name: Setup environment (node + install)
#        uses: ./.github/actions/node-setup
#
#      - name: Run knip
#        run: npm run knip:ci
